body {
    background-image: url('../Basic-Portfolio/assets/images/gravel/gravel.png');
    font-family: 'Cardo', serif;

 }


h1 {
    background-color:#4aaaa5;
    color:white;
    width: 300px;
    position: relative;
    bottom: 50px;
    left: 30px;
   
}

img {
    margin: 0 auto;
    padding: 10px;
}

#profilePic {
    position: relative;
    top: 30px;
    left: 50px;
}
.navbar {
    text-align: right;
}


h2 {
    position: relative;
    top: 5px;
    left: 40px;
    color:#4aaaa5;

}

.container-collapse {
    background-color: gray;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    bottom:0%;
    width: 100%;
}


h3 {
    background-color:#4aaaa5;
    position: relative;
    top: 200px;
    left:100px;
    color:white;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.img-fluid {
    margin: 20px auto;
    width: 350px;
    border: 2px solid black;
}

#friendsPic{
    border: 2px solid black;
}

.img-fluid:hover  {
    opacity: 0.3;
    transition: .5s ease;
  }

.box {
transition: .5s ease;
opacity: 0;
position: relative;
left: 400px;
top:-150px;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

h5 {
    padding: 10px;
    color: white;
    background-color: #4aaaa5;
    width: 200px;
}

.test:hover .box {
    opacity: 1;
  }

#crysPic{
    position: relative;
    top:-30px;
}

.contactHeader{
    position: relative;
    top: 30px;
    left: 130px;
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
}

#emailIcon{
    position: relative;
    left: 150px;
    top:60px;
}

.LI-profile-badge {
    position: relative;
    top: 40px;
    left: 90px;
}


#gitHubIcon{
    position: relative;
    left: 170px;
    width: 110px;
}



/* media queries  */
@media screen and (max-width: 980px) {
.img-fluid {
    width: 100%;
}

h3 {
width: 200px;
font-size: 25px;
}

}

@media screen and (max-width: 768px) {
.img-fluid {
    width: 80%;
}

h3 {
    width: 250px;
    font-size: 30px;
    }
}