body {
    background-image: url('../Basic-Portfolio/assets/images/gravel/gravel.png');

 }


h1 {
    background-color:#4aaaa5;
    color:white;
    width: 300px;
    position: relative;
    bottom: 50px;
    left: 30px;
}

img {
    padding: 10px;
}

#profilePic {
    position: relative;
    top: 30px;
    left: 50px;
}
.navbar {
    text-align: right;
}


h2 {
    position: relative;
    top: 5px;
    left: 40px;
    color:#4aaaa5;

}


.container-collapse {
    background-color: gray;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    /*position: absolute;*/
    bottom:0%;
    /*height: 60px;*/
    width: 100%;
}


h3 {
    background-color:#4aaaa5;
    position: relative;
    top: 160px;
    color:white;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.img-fluid {
    margin: 20px auto;
    width: 300px;
}

.contactHeader{
    position: relative;
    top: 30px;
    left: 100px;
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
}

#emailIcon{
    position: relative;
    left: 150px;
    top:60px;
    width: 150px;
}

.LI-profile-badge {
    position: relative;
    top: 40px;
    left: 90px;
}


#gitHubIcon{
    position: relative;
    left: 170px;
    
}



/* media queries  */
@media screen and (max-width: 980px) {
.img-fluid {
    width: 100%;
}

h3 {
width: 200px;
font-size: 25px;
}



@media screen and (max-width: 768px) {
.img-fluid {
    width: 80%;
}

h3 {
    width: 250px;
    font-size: 30px;
    }
}