body {
    background-image: url('./images/symphony.png');
    background-attachment: fixed;
    font-family: 'Alegreya', serif;

 }


h1 {
    position: relative;
    top: -90px;
    font-size:50px;
    font-family: 'Courgette', cursive;
    color:white;
    
} 

ul{
    position: relative;
    top:20px;
}

.nav-item:hover {
    text-decoration: underline;

}
#aboutMeHeader{
    font-weight: bold;
}

#projectP{
    font-size: 30px;
}
 
img {
    margin: 0 auto;
    padding: 10px;
}

#profilePic {
    position: relative;
    left: 50px;
}
.navbar {
    text-align: right;
    height: 100px;
   
}

.headers {
    font-size: 40px;
}

h2 {
    position: relative;
    top: 5px;
    left: 40px;
    color: #00004E;

}

.container-collapse {
    background-color: #303030;
    padding: 20px;
    text-align: center;
    bottom:0%;
    width: 100%;
    color:white;
    font-family: 'Courgette', cursive;
}


h3 {
    background-color:#75B9C8;
    position: relative;
    top: 200px;
    left:100px;
    color:white;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.img-fluid {
    margin: 20px auto;
    width: 350px;
    border: 2px solid black;
}

#friendsPic{
    border: 2px solid black;
}

.img-fluid:hover  {
    opacity: 0.3;
    transition: .5s ease;
  }

.box {
transition: .5s ease;
opacity: 0;
position: relative;
left: 400px;
top:-150px;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

h5 {
    padding: 10px;
    background-color: #8cb3d9;
    width: 200px;
    color: black;
}

.test:hover .box {
    opacity: 1;
  }

#crysPic{
    position: relative;
    top:-30px;
}

.contactHeader{
    position: relative;
    top: 30px;
    left: 180px;
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
}

#emailIcon{
    position: relative;
    left: 180px;
    top:60px;
}
#emailIcon:hover {
    border: 2px solid #00004E;
}
 #gitHubIcon:hover {
    border: 2px solid #00004E;
}

.LI-profile-badge {
    position: relative;
    top: 40px;
    left: 140px;
}


#gitHubIcon{
    position: relative;
    left: 170px;
    width: 110px;
}



/* media queries  */
@media screen and (max-width: 980px) {
.img-fluid {
    width: 100%;
}

h3 {
width: 200px;
font-size: 25px;
}

}

@media screen and (max-width: 768px) {
.img-fluid {
    width: 80%;
}

h3 {
    width: 250px;
    font-size: 30px;
    }
}